<!DOCTYPE html>
<html>
  <head>
    <title>Forkfull</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'forkfulllogo.png'%>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('forkfulllogo.png')  %>";
    </script>
    <script src="https://kit.fontawesome.com/78384fa019.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.backgroundURL = "<%= image_url('forkfullbg')  %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
